.svg-add-dims {
	width: 14px;
	height: 14px;
}

.svg-add-gold-dims {
	width: 14px;
	height: 14px;
}

.svg-area-dims {
	width: 20px;
	height: 21px;
}

.svg-armchair-dims {
	width: 20px;
	height: 20px;
}

.svg-arrow-dims {
	width: 18px;
	height: 12px;
}

.svg-arrow-big-dims {
	width: 16px;
	height: 24px;
}

.svg-arrow-down-gold-dims {
	width: 10px;
	height: 6px;
}

.svg-arrow-gold-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-more-dims {
	width: 12px;
	height: 8px;
}

.svg-bath-dims {
	width: 20px;
	height: 20px;
}

.svg-bed-dims {
	width: 20px;
	height: 21px;
}

.svg-booking-dims {
	width: 960px;
	height: 186px;
}

.svg-booking-com-dims {
	width: 151px;
	height: 25px;
}

.svg-booking-mob-dims {
	width: 360px;
	height: 156px;
}

.svg-call-dims {
	width: 18px;
	height: 18px;
}

.svg-camera-dims {
	width: 41px;
	height: 36px;
}

.svg-carousel-dims {
	width: 24px;
	height: 24px;
}

.svg-carousel-gold-dims {
	width: 24px;
	height: 24px;
}

.svg-chair-dims {
	width: 21px;
	height: 20px;
}

.svg-check-dims {
	width: 24px;
	height: 24px;
}

.svg-close-dims {
	width: 14px;
	height: 14px;
}

.svg-dish-dims {
	width: 24px;
	height: 24px;
}

.svg-dish-gold-dims {
	width: 24px;
	height: 24px;
}

.svg-drink-dims {
	width: 20px;
	height: 20px;
}

.svg-facebook-dims {
	width: 10px;
	height: 16px;
}

.svg-facebook-white-dims {
	width: 10px;
	height: 16px;
}

.svg-fullscreen-dims {
	width: 24px;
	height: 24px;
}

.svg-inst-dims {
	width: 17px;
	height: 17px;
}

.svg-inst-white-dims {
	width: 17px;
	height: 17px;
}

.svg-login-dims {
	width: 20px;
	height: 20px;
}

.svg-logo-dims {
	width: 185px;
	height: 22px;
}

.svg-logo2-dims {
	width: 138px;
	height: 104px;
}

.svg-menu-dims {
	width: 24px;
	height: 24px;
}

.svg-module-dims {
	width: 24px;
	height: 24px;
}

.svg-module-gold-dims {
	width: 24px;
	height: 24px;
}

.svg-more-gold-dims {
	width: 12px;
	height: 8px;
}

.svg-note-dims {
	width: 21px;
	height: 20px;
}

.svg-parking-dims {
	width: 40px;
	height: 40px;
}

.svg-play-dims {
	width: 40px;
	height: 40px;
}

.svg-room-service-dims {
	width: 40px;
	height: 38px;
}

.svg-service-dims {
	width: 33px;
	height: 40px;
}

.svg-star-dims {
	width: 20px;
	height: 20px;
}

.svg-stars-dims {
	width: 46px;
	height: 10px;
}

.svg-table-dims {
	width: 20px;
	height: 20px;
}

.svg-wa-dims {
	width: 20px;
	height: 20px;
}

.svg-wa-white-dims {
	width: 20px;
	height: 20px;
}

.svg-wifi-dims {
	width: 33px;
	height: 27px;
}

