/*.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Parking {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-add {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-add-gold {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-area {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-armchair {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-arrow {
	font-size:(12/10)*1rem;
	width:(18/12)*1em;
}
.icon-arrow-big {
	font-size:(24/10)*1rem;
	width:(16/24)*1em;
}
.icon-arrow-down-gold {
	font-size:(6/10)*1rem;
	width:(10/6)*1em;
}
.icon-arrow-gold {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-arrow-more {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-bath {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-bed {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-booking {
	font-size:(186/10)*1rem;
	width:(960/186)*1em;
}
.icon-booking-com {
	font-size:(25/10)*1rem;
	width:(151/25)*1em;
}
.icon-booking-mob {
	font-size:(156/10)*1rem;
	width:(360/156)*1em;
}
.icon-call {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-camera {
	font-size:(36/10)*1rem;
	width:(41/36)*1em;
}
.icon-carousel {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-carousel-gold {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-chair {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-check {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-close {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-dish {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-drink {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-facebook {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-facebook-white {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-fullscreen {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-inst {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-inst-white {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-login {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-logo {
	font-size:(22/10)*1rem;
	width:(185/22)*1em;
}
.icon-logo2 {
	font-size:(104/10)*1rem;
	width:(138/104)*1em;
}
.icon-menu {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-module {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-module-gold {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-more-gold {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-note {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-play {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-room-service {
	font-size:(38/10)*1rem;
	width:(40/38)*1em;
}
.icon-service {
	font-size:(40/10)*1rem;
	width:(33/40)*1em;
}
.icon-star {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-stars {
	font-size:(10/10)*1rem;
	width:(46/10)*1em;
}
.icon-table {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-wa {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-wa-white {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-wifi {
	font-size:(27/10)*1rem;
	width:(33/27)*1em;
}
*/
.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}
